<h1>Result of your roll!</h1>

<img src="/dice_images/{{image1}}" alt="dice 1">
<img src="/dice_images/{{image2}}" alt="dice 2">
<p></p>


    <a href="/">Roll back to index</a>
    <br>
    <a href="/roll">Or go for another roll</a>